* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    color: #2B384C;
}

/* Header */

nav {
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav h1 {
    font-size: 35px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    gap: 40px;
}

li {
    list-style: none;
    text-decoration: none;
}

li:hover {
    color: #00BFFF;
}

.link {
    display: flex;
    align-items: center;
    gap: 30px;
}

button {
    padding: 7px 15px;
    color: #fff;
    background-color: #00BFFF;
    border: 2px solid #00BFFF;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #00BFFF;
}

.welc {
    text-align: center;
    margin: 135px 300px 135px;
    
}

.welc h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.welc p {
    font-size: 25px;
    margin: 0px 60px 30px;
}

/* About Me */

#About {
    margin: 0px 50px;
    padding: 40px 60px;
    background-color: #2B384C;
    text-align: center;
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
}

#About h2 {
    color: #fff;
    font-size: 30px;
    width: 250px;
    background-color: #00BFFF;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}

#About p {
    color: #fff;
    line-height: 28px;
    margin-bottom: 60px;
}

#About ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#About li {
    color: #fff;
    background-color: #00BFFF;
    padding: 7px;
    border-radius: 5px;
    
}

/* Projects */

#Projects {
    margin: 140px 80px;
}

#Projects h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.project {
    border-radius: 10px;
    box-shadow: 0 0  10px rgba(43, 56, 76, 0.2);
    width: 500px;
}

.project img {
    width: 500px;
    border-radius: 10px 10px 0px 0px;
    
}

.all {
    padding: 10px 20px;
}

.all h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.description {
    font-size: 18px;
    margin-bottom: 30px;
}

.more {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.more p {
    margin-bottom: 10px;
    padding-top: 7px;
}

/* CV */

#CV {
    justify-content: center;

}

#CV h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.text {
    text-align: center;
}

#CV p {
   font-size: 23px;
   max-width: 750px;
   margin-bottom: 30px;
}

#CV {
    text-align: center;
}
